apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: monitoring-dashboard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: vinaykumarrajanna/monitoring-backend:latest
        ports:
        - containerPort: 8080
        livenessProbe:
          httpGet:
            path: /metrics
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /metrics
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
        resources:
          requests:
            cpu: "50m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: monitoring-dashboard
spec:
  selector:
    app: backend
  ports:
  - port: 8080
    targetPort: 8080
  type: NodePort